.about{
    &__container{
        row-gap: 2rem;
        text-align: center;
    }
    &__subtitle{
        margin-bottom: var(--mb-2);
    }

    &__img{
        justify-self: center;
        
        & img{
            width: 200px;
            border-radius: .5rem;
        }
    }
}
